#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release-prod.xcconfig"
#include "Generated.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.yourcompany.baseapp
FLUTTER_TARGET = lib/main_prod.dart
DISPLAY_NAME = FlutterBaseKit
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-prod
BASE_URL_SCHEME = https
BASE_URL_HOST = pokeapi.co/api/v2/
GOOGLE_SERVER_CLIENT_ID = 931829859624-94dg5gqdnj6vnbh7h3ktmmbt1r36eacb.apps.googleusercontent.com
REVERSED_CLIENT_ID = com.googleusercontent.apps.931829859624-94dg5gqdnj6vnbh7h3ktmmbt1r36eacb
